* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.container {
  position: relative;
}

.homepageContainer {
  height: 100vh;
  width: 100vw;
  background-color: #f2fafa;
}

.homepageNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

.hompageBrand h2 {
  font-size: 2.5rem;
  color: #216061;
}

.hompageBrand span {
  color: #f27457;
}

.homepageNavigation {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.homepageNavigation a {
  text-decoration: none;
  color: #737477;
  font-size: 1.2rem;
  font-weight: 500;
}

.homepageNavigation a:last-child {
  background-color: #f27457;
  color: #fff;
  padding: 0.7rem 1.5rem;
}

.hompageHero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10rem;
  flex-wrap: wrap;
}

.homepageText {
  width: 100%;
  max-width: 800px;
  flex: 1;
}

.homepageText p {
  font-size: 1.5rem;
  color: #216061;
  font-weight: 700;
}

.homepageText h1 {
  font-size: 4.8rem;
  color: #216061;
  font-weight: 700;
  line-height: 1;
  margin-top: 2.2rem;
  margin-bottom: 5rem;
}

.homepageText a {
  background-color: #f27457;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.3rem;
}

.homepageImage img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

@media screen and (max-width: 1759px) {
  .homepageText {
    max-width: 750px;
  }

  .homepageImage img {
    max-width: 750px;
  }
}

@media screen and (max-width: 1599px) {
  .homepageText {
    max-width: 700px;
  }

  .homepageText h1 {
    font-size: 4rem;
  }

  .homepageImage img {
    max-width: 650px;
  }
}

@media screen and (max-width: 1410px) {
  .homepageText {
    max-width: 500px;
  }

  .homepageText h1 {
    font-size: 3.5rem;
  }

  .homepageImage img {
    max-width: 500px;
  }
}

@media screen and (max-width: 1205px) {
  .homepageText {
    max-width: 400x;
  }

  .homepageText h1 {
    font-size: 3rem;
  }

  .homepageImage img {
    max-width: 400px;
  }
}

@media screen and (max-width: 1050px) {
  .homepageText {
    max-width: 400x;
  }

  .homepageText h1 {
    font-size: 2.7rem;
  }

  .homepageImage img {
    max-width: 350px;
  }
}

@media screen and (max-width: 967px) {
  .hompageHero {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-inline: 10rem;
    flex-wrap: wrap;
  }

  .homepageText {
    max-width: 400x;
    text-align: center;
  }

  .homepageText h1 {
    font-size: 3rem;
  }

  .homepageImage {
    max-width: 350px;
    display: none;
  }
}

.authContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.authContainer img {
  width: 100%;
  max-width: 50vw;
  height: auto;
  object-fit: cover;
}

.formArea {
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-inline: 2rem;
}

.buttons {
  margin-bottom: 2rem;
  margin-top: 7%;
}

.buttons button {
  color: #3f3f3f;
  font-size: 0.9rem;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  background: none;
}

.buttons .select {
  background-color: #216061;
  color: #fff;
}

.buttons > button:nth-child(1) {
  margin-right: 1rem;
}

.formBox {
  width: 100%;
}

.formBox .formInput {
  width: 100%;
}

.formBtn {
  width: 100% !important;
  padding: 0.9rem 0 !important;
  background-color: #216061 !important;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  background-color: #f2fafa;
  padding: 5rem 10rem;
  position: relative;
}

.dashboard-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.appOptions {
  width: 50%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.option > div {
  width: 125px;
  height: 125px;
  background-color: blue;
  border-radius: 25%;
  display: flex;
}

.option > div img {
  width: 100%;
  padding: 2rem;
}

.option p {
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.meetingSchedule {
  width: 100%;
  max-width: 400px;
}
.schedule {
  height: 70vh;
  background-color: #fff;
  border-radius: 30px;
}

.clock {
  width: 100%;
  height: 200px;
  background-image: url("../public/images/schedule.png");
  background-size: cover;
  border-radius: 30px 30px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.clock h2 {
  font-size: 3rem;
}

.meetingIdArea {
  width: 50%;
  min-width: 20rem;
  height: 50%;
  min-height: 15rem;
  background-color: rgb(214, 214, 214);
  padding: 2rem;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  bottom: 50%;
  top: 50%;
  right: 50%;
}

.meeting {
  margin-top: 2rem;
}

.meeting p {
  margin-bottom: 0.5rem;
}

.meeting input {
  width: 50%;
  font-size: 0.8rem;
  padding: 1rem 0.8rem;
  border: 1px solid #8b8b8b;
  border-radius: 25px;
  color: #3f3f3f;
}

.cross-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.join-room-button {
  background-color: #216061;
  font-size: 1.5rem;
  color: #fff;
  padding: 0.4rem 1rem;
  border: none;
  cursor: pointer;
}

.streamContainer {
  width: 100%;
  height: 100vh;
}

.meeting-videos {
  width: 100%;
  height: 90vh;
  background-color: #202020;
  display: flex;
}

.connectedUserStream {
  width: 75%;
  height: 100%;
  display: grid;
  gap: 10px;
  padding: 1.5rem;
  grid-template-columns: repeat(5, 1fr);
}

.connectedUserStream:has(:nth-child(1)) {
  grid-template-columns: 1fr;
}

.connectedUserStream:has(:nth-child(2)) {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.connectedUserStream:has(:nth-child(3)),
.connectedUserStream:has(:nth-child(4)) {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.connectedUserStream:has(:nth-child(5)),
.connectedUserStream:has(:nth-child(6)) {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}

.single-video-item {
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 10px;
}

.single-video-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meetingOwner {
  width: 25%;
  padding: 1.5rem 1.5rem 0 1.5rem;
  background-color: rgb(221, 221, 221);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.ownerStrem {
  width: 100%;
  height: 40%;
}
.meetingOwner video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.callerBtns {
  background-color: #111111f8;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px #00000085;
}

.btns-icons svg {
  color: white;
  font-size: 2rem;
}

.chatContainer {
  background-color: white;
  width: 100%;
  height: calc(100% - 30% - 20px);
  position: relative;
  background-color: #202020;
  overflow: hidden;
}

.chat-heading {
  background-color: #216061;
  color: #fff;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-heading h2 {
  font-size: 1.3rem;
}

.chat-heading button {
  background-color: red;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 0;
  padding: 0.6rem;
  color: white;
}
.chat-heading button svg {
  font-size: 1rem;
}

.chat-heading button:hover {
  background-color: red;
}

.message-area {
  padding: 0.8rem 1rem;
  height: calc(100% - 7.4rem);
  overflow-y: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message {
  color: #fff;
  max-width: 70%;
}

.message h5 {
  font-size: 0.8rem;
  margin-left: 1rem;
  font-weight: 400;
  color: #cecdcd;
  text-transform: capitalize;
}

.message p {
  padding: 0.5rem 1rem;
  background-color: #3f3f3f;
  border-radius: 50px;
  margin-top: 0.2rem;
  display: inline-block;
  word-wrap: break-word;
  font-size: 1rem;
}

.user-message {
  align-self: flex-end;
  text-align: right;
}

.user-message h5 {
  margin-right: 0.9rem;
}

.no-message {
  color: #8b8b8b;
  text-align: center;
  align-self: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  width: 80%;
}

.chat-typing-box {
  position: absolute;
  height: 5rem;
  width: 100%;
  bottom: 0;
  padding-inline: 1rem;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-typing-box form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chat-typing-box form input {
  border: 1px solid #c4c3c3;
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 25px;
  width: 100%;
}

.chat-typing-box form button svg {
  color: #ffffff;
}


.meetingRoom {
  width: 100vw;
  height: 100vh;
}

.meetingRoomNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

.navigation {
  text-align: right;
  font-size: 1rem;
  color: #3f3f3f;
}

.videoArea {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-inline: 10rem;
  gap: 2rem;
  height: calc(100% - 111px);
  width: 100%;
}

.video {
  align-self: center;
  width: 50%;
}

.video video {
  width: 100%;
  min-width: 240px;
  height: auto;
  align-self: center;
}

.askJoin {
  width: 50%;
  text-align: center;
}

.askJoin h3 {
  color: #202020;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.askJoin button {
  background-color: #216061;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.6rem 1.9rem ;
  border-radius: 5px;
  cursor: pointer;
}