.alertContainer{
  position: absolute;
  bottom: 0;
  left: 0;
}

.alert{
  position: relative;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background-color: #00ca00;
  box-shadow: 2px 3px 5px #2c2c2c6b;
  z-index: 1000;
  padding: 2rem 0;
  
}

.alert p {
  color: #2c2c2c;
  font-size: 1.2rem;
  padding: 10px 15px;
  width: inherit;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #fff;
}

.alert span{
  position: absolute;
  top:5px;
  right: 5px;
  width: 29px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  color: white;
  border-radius: 100%;
  cursor: pointer;
}